
.rotating {

    position: absolute;
    top: 25%;
    left: 25%;
	
    -webkit-transform: translate(-50%, -50%);
    
-webkit-animation: rotate 7s linear infinite 0s;
    -moz-animation: rotateup 7s linear infinite 0s;
    -o-animation: rotate 7s linear infinite 0s;
    -ms-animation: rotate 7s linear infinite 0s;
    animation: rotate 7s linear infinite 0s
}
@-webkit-keyframes rotate {
 from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }

}
@-moz-keyframes rotate {
 from {
     -moz-transform: rotate(0deg);
  }
  to {
     -moz-transform: rotate(359deg);
  }

}
@-o-keyframes rotate {
 from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }

}
@-ms-keyframes rotate {
 from {
    -ms-transform: rotate(180deg);
  }
  to {
    -ms-transform: rotateY(360deg);
  }

}